// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.state{
	margin-left: 270px;
}
#product_state{
	padding-left: 30px;
}
.boolean{
	margin-right: 20px;
}
.file_product{
	margin-left: 330px;
}
.buttons{
	margin-left: 330px;
}
.new_product{
	margin-left: 600px;
}