<div class="row">
 <% @products.each do |product| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
       <% if product.pictures.first %>
        <%= link_to (image_tag (product.pictures.first.image.url(:medium)), class: 'image'), product_path(product) %>
        <% else %>
          <%= link_to 'N/A', product_path(product) %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
<div class="col-md-6 col-md-offset-4"> <%= paginate @products %> </div>